<!doctype html> <!--extended from parent: user.html, which in turn inherited base.html-->

<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="{{ url_for('static', filename='js/auth/profile.js') }}"></script>
</head>

<body class="profile">
  <div class="container" id="profile">
    <form method="post">

        <div class="row">
          <div class="col-8" id='left'>
            <label for="profile">Profile</label>
          </div>
        </div>
        
        <div class="row">
          <div class="col-15" id='left'>
              
          </div>
        </div>
        
        <div class="row"> <!-- UPDATE BUTTON -->
          <!-- <div class="col-8" id='left'></div> -->
          <div class="col-15" id='left'><input type="submit" value="Update"></div>
        </div>

    </form>
  </div>
</body>


