{% extends 'base.html' %} 
{% block title %}Mission{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/auth/user.js') }}"></script>
{% endblock %}

{% block content %}

<body class="user" style="overflow-y:hidden">

<script>
    //compensating what base.js cannot do
    $('.navbar button').removeClass('active');
    $('.navbar button.user').addClass('active');
    $(function(){
      $("div#profile").load("{{ url_for('auth.userprofile') }}");
      $("div#samples").load("{{ url_for('auth.usersamples') }}");
      
    });
</script> 

<div class="tab">
  <button class="tablinks" id="profile-tab" onclick="openTab(event, 'profile')">PROFILE</button>
  <button class="tablinks" id="samples-tab" onclick="openTab(event, 'samples')">SAMPLES</button>
  
</div>

<div id="profile" class="tabcontent"></div>
<div id="samples" class="tabcontent"></div>


</body>

{% endblock %}