<!DOCTYPE html>

<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/concurrent.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</head>

<body class="fig">
    
    <div style="padding:16px;margin-top:35px;"></div>
    <form method='POST' id="chartform">
        <select id="chartopt" name="chartopt">
            <option value="random" selected>Random</option>
            <option value="sinusoid">Sinusoidal</option>
            <option value="cosine">Cosine</option>
        </select>
        <select id="chartop" name="chartop">
            <option value="1">Random</option>
            <option value="0" selected>Sinusoid</option>
            <option value="2">Cosine</option>
        </select>
        <input type="submit" name="run" value="RUN">
    </form>
    
    <div style="width:75%;">
        <h5>Chart#1 Option: {{chartopt}}</h5>
        <canvas id="canvas01" style="display: block; width: 1000px; height: 500px;" width="1000" height="500" class="chartjs-render-monitor"></canvas>
        <h5>Chart#2 Option: {{chartop}}</h5>
        <canvas id="canvas" style="display: block; width: 1000px; height: 500px;" width="1000" height="500" class="chartjs-render-monitor"></canvas>
    </div> 
    
        {# <!--comment out flask part-->
        {% for item in datad %}
            <script>
                myPlot("canvas01", {{item[0]}}, {{item[2]}});
                myPlot("canvas", {{item[0]}}, {{item[2]}});
            </script>
        {% endfor %}
        #} <!--comment out flask part-->
    
    
        {% for item in datad %} 
            <script>
                myPlot("canvas01", {{item[0]}}, {{item[1]}});
                myPlot("canvas", {{item[0]}}, {{item[2]}});
            </script>
        {% endfor %}
    
    
<!-- NOT WORKING IF ITERATED TWICE w/o the FORM SUBMIT!
    {% for item in data %}
        <script>
            myPlot("canvas01", {{item[0]}}, {{item[1]}});
        </script>   
    {% endfor %}    
-->
    
</body>

</html>