{% extends 'base.html' %} 
{% block title %}Machine{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mach.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/mach.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mach">
{{x}}
<script> 
    $(function(){
      $("div#test").load("{{ url_for('machine.test') }}");
      $("div#awg").load("{{ url_for('machine.awg') }}");
      $("div#vsa").load("{{ url_for('machine.vsa') }}");
      $("div#esg").load("{{ url_for('machine.esg') }}");
      $("div#mxg").load("{{ url_for('machine.mxg') }}"); 
    });
</script> 

<div class="tab">
  <button class="tablinks" id="test-tab" onclick="openTab(event, 'test')">TEST</button>
  <button class="tablinks" id="awg-tab" onclick="openTab(event, 'awg')">AWG</button>
  <button class="tablinks" id="vsa-tab" onclick="openTab(event, 'vsa')">VSA</button>
  <button class="tablinks" id="esg-tab" onclick="openTab(event, 'esg')">ESG</button>
  <button class="tablinks" id="mxg-tab" onclick="openTab(event, 'mxg')">MXG</button>
</div>

<div id="test" class="tabcontent"></div>
<div id="awg" class="tabcontent"></div>
<div id="vsa" class="tabcontent"></div>
<div id="esg" class="tabcontent"></div>
<div id="mxg" class="tabcontent"></div>

</body>

{% endblock %}