/* Test */
.atest {
    align-content: center;
    font-size: 35pt;
    color: red;
}

/* General Tabs */
.tab {
    align-content: space-around;
    padding-left: 0%;
    float: left;
    background-color: #f1f1f1;
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab button {
    display: block;
    padding: 12px 8.8%; /*vertical horizontal padding*/
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    /* background-color: #ccc; */
    background-color: gold;
}

.tabcontent {
    display: none;
    float: left;
    padding: 0px 0.5%;
    width: 79%;
    height: 100vh;
    overflow-y: scroll;
}

/* Only allow ALL-page to show-up when loading machine.html */
.tabcontent#all {
    display: block;
}

/* Instrument's Log */
.slider {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
}

.slider h4 {
    color: white;
}

.active, .slider:hover {
    background-color: #555;
}

.instrlog {
    padding: 0 7px;
    display: none;
    overflow: hidden;
    background-color: darkblue;
}

/* Modified Tabs */
.reset {
    background-color: #4CAF50;
    color: white;
}

.close {
    background-color: tomato;
    color: white;
}

.error {
    background-color: darkslategray;
}

.selected {
    background-color: gold;
}

.newupdate {
    background-color: rgb(255, 145, 0);
}

/* for AI-Bridge */
.suggestion {
    background-color: rgb(203, 124, 240);
}

/* Instrument content page */
div.awgcontent, div.vsacontent, div.esgcontent, div.mxgcontent, div.dsocontent, div.jobcontent {
    display: block;
    float: left;
    padding: 0px 3.5%;
    width: 73%;
    height: 100vh;
    overflow-y: scroll;
}