<!doctype html> <!--extended from parent: mission.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mssn/char.js') }}"></script>
</head>

<body class="mssn">

    <div>

        <div class="tab2">
            <button class='char' id='fresp'>F-Response</button>
        </div>
        
        <!-- page content based on button clicked -->
        <div class="charcontent" id="fresp">
            <div class="container">

                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <!-- 1. F-Response -->
                    <div class="col-25" id='left'><select class='char' id="fresp" name="wday" type="text"></select></div>
                    <div class="col-10" id='left'><select class='char' id="fresp" name="wmoment" type="text"></select></div>
                    <div class="col-15" id='left'><button class='char' id="fresp" name="progress"></button></div>
                    
                </div>

                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <!-- 1. F-Response -->
                    <div class="col-20" id='left'>
                        <input class='char' id="fresp" name="sparam" type="text" value="S21,"/>
                    </div>
                    <div class="col-20" id='left'>
                        <input class='char' id="fresp" name="ifb" type="text" value="1000"/>
                    </div>
                    <div class="col-20" id='left'>
                        <input class='char' id="fresp" name="powa" type="text" value="-37"/>
                    </div> 
                    <div class="col-20" id='left'>
                        <input class='char' id="fresp" name="freq" type="text" value="5 to 9 * 3000"/>
                    </div>
                </div>
                     
                
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <!-- 1. F-Response -->
                    <div class="col-75" id='left'>
                        <textarea class='char' id="fresp" name="comment" type="text" rows="5" cols="101">--comment--</textarea>
                    </div>
                </div>

                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <!-- 1. F-Response -->
                    <div class="col-20" id='left'><select class='char' id="fresp" name="c-sparam" type="text"></select></div>
                    <div class="col-20" id='left'><select class='char' id="fresp" name="c-ifb" type="text"></select></div>
                    <div class="col-20" id='left'><select class='char' id="fresp" name="c-powa" type="text"></select></div>
                    <div class="col-20" id='left'><select class='char' id="fresp" name="c-freq" type="text"></select></div>
                </div>



                
                
                <div id="char-chart-01"></div>
            </div>
        </div>
    
        <div class="charcontent" id="TBD">
            <div class="container">
                
            </div>
        </div>
    
    </div>

</body>

</html>