<!doctype html> <!--extended from parent: mission.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mssn/mani.js') }}"></script>
</head>

<body class="mssn">

    <div>

        <div class="tab2">
            <input class='mani loaded' id='sample-name' type='submit' value={{ samplename }}></input>
            <input class='mani people' id='sample-owner' type='submit' value={{ people }}></input>
            <a href="/benchmark">
                <input class='mani benchmark' type="submit" value="Benchmark" id="mani-to-benchmark"/>
            </a>

            <button class='mani access QuCTRL' id="Single_Qubit">Single_Qubit</button>
            <button class='mani access QuCTRL' id="Qubits">Qubits</button>
            
            <button class='mani access QuCTRL' id="RB" style="background-color:lightskyblue">RB</button>
            <button class='mani access QuCTRL' id="QPU" style="background-color:lightskyblue">QPU</button>
            
        </div>

        <script>
            $(function(){
                // doesn't work inside mani.js
                $("div.manicontent.QuCTRL").load("{{ url_for('mission.mani_QuCTRL') }}");
            });
        </script>
        
        <!-- page content based on button clicked -->
        <div class="manicontent QuCTRL"></div>
        
    </div>

</body>

</html>
