<!doctype html> <!--extended from parent: mission.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mssn/mani.js') }}"></script>
</head>

<body class="mssn">

    <div>

        <div class="tab2">
            <input class='mani loaded' id='sample-name' type='submit' value={{ samplename }}></input>
            <input class='mani people' id='sample-owner' type='submit' value={{ people }}></input>
            <a href="/benchmark">
                <input class='mani benchmark' name='singleqb-benchmark' type="submit" value="Benchmark" id="mani-to-benchmark"/>
            </a>
            <button class='mani access singleqb'>Single-Q</button>
            <button class='mani access qubits'>Qubits</button>
            
        </div>

        <script>
            $(function(){
                $("div.manicontent.singleqb").load("{{ url_for('mission.mani_singleqb') }}");
                $("div.manicontent.qubits").load("{{ url_for('mission.mani_qubits') }}");
                
            });
        </script>
        
        <!-- page content based on button clicked -->
        <div class="manicontent singleqb"></div>
        <div class="manicontent qubits"></div>
        
    </div>

</body>

</html>
