{% extends 'base.html' %} 
{% block title %}Mission{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mssn.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/mssn/mssn.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mssn" style="overflow-y:hidden">

<script>
    //compensating what base.js cannot do
    $('.navbar button').removeClass('active');
    $('.navbar button.mission').addClass('active');
    $(function(){
      $("div#all").load("{{ url_for('mission.all') }}");
      $("div#char").load("{{ url_for('mission.char') }}");
      
    });
</script> 

<div class="tab">
  <button class="tablinks" id="all-tab" onclick="openTab(event, 'all')">ALL</button>
  <button class="tablinks" id="char-tab" onclick="openTab(event, 'char')">CHAR</button>
  
</div>

<div id="all" class="tabcontent"></div>
<div id="char" class="tabcontent"></div>


</body>

{% endblock %}