{% extends 'base.html' %} 
{% block title %}Mission{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mssn.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/mssn/mssn.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mssn" style="overflow-y:hidden">

<script>
    //compensating what base.js cannot do
    $('.navbar button').removeClass('active');
    $('.navbar button.mission').addClass('active');
    $(function(){
      $("div#ALL").load("{{ url_for('mission.all') }}");
      $("div#CHAR0").load("{{ url_for('mission.char') }}");
      $("div#QPC0").load("{{ url_for('mission.mani') }}");
      
    });
</script> 

<div>
  <h4 style="background-color: lightgreen; padding-top: 1.5px; margin-bottom: 0.2px; margin-top: -2.5px;">{{status}}</h4>
</div>

<div class="tab">
  <button class="tablinks" id="ALL-tab" onclick="openTab(event, 'ALL')"><i class='fa fa-refresh' style='font-size:15px;color:lightseagreen;'></i>ALL</button>
  <button class="tablinks" id="CHAR0-tab" onclick="openTab(event, 'CHAR0')">CHAR-0</button>
  <button class="tablinks" id="QPC0-tab" onclick="openTab(event, 'QPC0')">QPC-0</button>
  
</div>

<div id="ALL" class="tabcontent"></div>
<div id="CHAR0" class="tabcontent"></div>
<div id="QPC0" class="tabcontent"></div>
<!-- PENDING: REMOVE/UNIFY THE MSSN-TABS AND SHARING DIRECTIVES ACROSS QUEUE-SYSTEMS -->


</body>

{% endblock %}