<!doctype html>

<title>{% block title %}{% endblock %} - PyQuM</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav class="navbar">
    <ul >
        <li class='left'><a href="{{ url_for('blog.index') }}" class="home">Home</a></li>
        <li class='left'><a href="{{ url_for('awgonly.show') }}" class="awg">AWG</a></li>
        <li class='left'><a href="{{ url_for('combo.show') }}" class="comb">COMBO</a></li>
        
    
        {% if g.user %}
        <li class='right'><span class="user">{{ g.user['username'] }}</span></li>
        <li class='right'><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
        <li class='right'><a href="{{ url_for('auth.register') }}" class="reg">Register</a></li>
        <li class='right'><a href="{{ url_for('auth.login') }}" class="log">Log In</a></li> 
        {% endif %}
    
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
     
    {% block content %}{% endblock %}
</section>