<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/all.js') }}"></script>
    
</head>

<body>

<div class="allcontent">
    <div class="container">
        <form method='GET'>
            <div class="row">
                <div class="col-12" id='left'><button class='mach all push_button w-95 blue machine-update'>UPDATE</button></div>
            </div>

            <div class="row">
                <table class="mach content-table">
                    <thead>
                    <tr>
                        <th>Instrument</th>
                        <th>Busy</th>
                        <th>User</th> 
                        <th>action</th>   
                    </tr>
                    </thead>
                    <tbody class="all machine-update"></tbody>
                </table>
            </div>


        </form>
    </div>
    
</div>

</body>

</html>
