<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Clock.js') }}"></script>
</head>

<body>

<div class="allcontent">
    
    <div class="all clock"></div>
    <canvas id="canvas" width="400" height="400" style="background-color:#333"></canvas>
    <script>myClock("canvas")</script>

    <div style="background-color: black;">
    <h3 style="color: white;">Welcome to play any instrument below:</h3>
    </div>

    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>

    <div class="col-15 acenter" id='right'>
        <button class="dc ampscan push_button blue" id='w-95'>Save</button>
    </div>

    <p>1. AWG: Arbitrary Wave Generator </p>
    <p>2. VSA: Vector Signal Analyzer</p>
    <p>3. *SG: (Analog/Vector) Signal Generator</p>
    <p>4. DSO: Digital Storage Oscilloscope</p>
    <p>5. *NA: (Vector) Network Analyzer</p>
    <p>6. BDR: BlueFors Dilution Refridgerator</p>
    <p>7. YOKO: Yokogawa Programmable DC Source/</p>
    <p>8. LAKE: Lakeshore AC Resistance Bridge & Temperature Controller</p>
    <p>9.</p>
    <p>10.</p>
    <p>11.</p>
    <p>12.</p>
    <p>13.</p>
    <p>14.</p>
    <p>15.</p>
    <p>16.</p>
    <p>17.</p>
    <p>18.</p>
    <p>19.</p>
    <p>20.</p>
    <p>21.</p>
    <p>22.</p>
    <p>23.</p>
    <p>24.</p>
    <p>25.</p>
    <p>26.</p>
    <p>27.</p>
    <p>28.</p>
    <p>29.</p>
    <p>30.</p>
    <p>31.</p>
    <p>32.</p>
    <p>33.</p>
    <p>34.</p>
    <p>35.</p>
    <p>36.</p>
    <p>37.</p>

    <button id='how'>How am I?</button>
    <div class="all good"><h3>I am GOOD</h3></div>
    <div class="all good" style="display: none"><h3>I am AWESOME</h3></div>
    
    <div class="centered">
        <button class="small button">Button</button>
        <button class="small red button">Button</button>
        <button class="small green button">Button</button>
        <button class="small blue button">Button</button>
        
        <br><br>
        
        <button class="small button" disabled>Button</button>
        <button class="small red button" disabled>Button</button>
        <button class="small green button" disabled>Button</button>
        <button class="small blue button" disabled>Button</button>
        
        <br><br>
        
        <ul class="button-group">
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
        <li><button class="small button">Button</button></li>
        </ul>
        
        <br><br><br><br>
        
        <button class="button">Button</button>
        <button class="red button">Button</button>
        <button class="green button">Button</button>
        <button class="blue button">Button</button>
        
        <br><br>
        
        <button class="button" disabled>Button</button>
        <button class="red button" disabled>Button</button>
        <button class="green button" disabled>Button</button>
        <button class="blue button" disabled>Button</button>
        
        <br><br>
        
        <ul class="button-group">
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
        <li><button class="button">Button</button></li>
        </ul>
        
        <br><br><br><br>
        
        <button class="large button">Button</button>
        <button class="large red button">Button</button>
        <button class="large green button">Button</button>
        <button class="large blue button">Button</button>
        
        <br><br>
        
        <button class="large button" disabled>Button</button>
        <button class="large red button" disabled>Button</button>
        <button class="large green button" disabled>Button</button>
        <button class="large blue button" disabled>Button</button>
        
        <br><br>
        
        <ul class="button-group">
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
        <li><button class="large button">Button</button></li>
        </ul>
            
            <br><br>
            
            <ul class="button-group">
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
        <li><button class="large red button">Button</button></li>
        </ul>
    
        <a class="push_button red" href="#">Take The Red Pill</a> 
        <a class="push_button blue" href="#">Take The Blue Pill</a>

    </div>

</div>

</body>

</html>