<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/bdr.js') }}"></script>
</head>

<body class="mach">

<div>

    <div class="tab2">
        <button class='bdr history' id='Alice'>ALICE</button>
        <button class='bdr history' id='Bob'>BOB</button>
        <button class='bdr' id='samples'>SAMPLES</button>
        <button class='bdr' id='wiring'>WIRING</button> 
    </div>
    
    <!-- page content based on button clicked -->
    <div class="bdrcontent" id="history">
        <div class="container">

            <!-- Pressure row -->
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><select class='bdr history' name="wday" type="text"></select></div>

                <div class="col-8" id='left'><select class='bdr history' name="P_Ch" type="text">
                    {% for i in range(6) %}
                    <option value={{i+1}} {% if i+1 == 3 %} selected {% endif %}>P{{i+1}}</option>
                    {% endfor %}</select>
                </div> 
                <div class="col-8" id='left'><div class='bdr' id='P_recent'></div></div>

                <div class="col-8" id='left'><select class='bdr history' name="P_Ch2" type="text" value="5">
                    <option value=0 selected>add P</option>
                    {% for i in range(6) %}
                    <option value={{i+1}}>P{{i+1}}</option>
                    {% endfor %}</select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='P_recent2'></div></div>

                <div class="col-12" id='left'><select class='bdr history' name="OptS" type="text" value="0">
                    <option value='opts' selected>OPT-S</option>
                    <option value='flow'>Flow</option>
                    <option value='cpatempwi'>HeComp-WaterIn</option>
                    <option value='cpatempwo'>HeComp-WaterOut</option>
                    <option value='cpatempo'>HeComp-Oil</option>
                    <option value='cpatemph'>HeComp-Helium</option>
                    <option value='cpalpa'>HeComp-LowP</option>
                    <option value='cpahpa'>HeComp-HighP</option>
                    <option value='cpadp'>HeComp-DeltaP</option>
                    <option value='cpacurrent'>HeComp-Current</option>
                    <option value='tc400setspdatt'>Turbo-Full-1</option>
                    <option value='tc400setspdatt_2'>Turbo-Full-2</option>
                    <option value='tc400pumpaccel'>Turbo-Accel-1</option>
                    <option value='tc400pumpaccel_2'>Turbo-Accel-2</option>
                    </select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='OptS_recent'></div></div>

                <div class="col-12" id='right'>
                    <label class="bdr switch">
                        <input class="bdr" id='live-update' type="checkbox">
                        <div class="slider">
                            <span class="on">LIVE</span><span class="off">GO LIVE</span>
                        </div>
                    </label>
                </div>
                <div class="col-12" id='right'>
                    <div class="buttons"><a class="bdr new btn blue" id="bdr-forecast-P"></a></div>
                </div>
                <div class="col-12" id='right'>
                    <select class='bdr download log-type'>
                        <option value='P' selected>Pressure</option>
                        <option value='T'>Temperature</option>
                    </select>
                </div>
            </div>

            <!-- Temperature row -->
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'></div>

                <div class="col-8" id='left'><select class='bdr history' name="T_Ch" type="text" value="5">
                    {% for i in [1,2,3,4,5,6,7] %}
                    <option value={{i}} {% if i == 2 %} selected {% endif %}>T{{i}}</option>
                    {% endfor %}</select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='T_recent'></div></div>

                <div class="col-8" id='left'><select class='bdr history' name="T_Ch2" type="text" value="5">
                    <option value=0 selected>add T</option>
                    {% for i in [1,2,3,4,5,6,7] %}
                    <option value={{i}}>T{{i}}</option>
                    {% endfor %}</select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='T_recent2'></div></div>

                <div class="col-12" id='left'><select class='bdr history' name="OptV" type="text" value="0">
                    <option value='optv' selected>OPT-V</option>
                    {% for i in range(21) %}
                    <option value='v{{i+1}}'>V{{i+1}}</option>
                    {% endfor %}
                    <option value='compressor'>COMPR.</option>
                    <option value='turbo1'>TURBO1</option>
                    <option value='scroll1'>SCROLL1</option>
                    <option value='scroll2'>SCROLL2</option>
                    <option value='hs-still'>HS-STILL</option>
                    <option value='hs-mc'>HS-MC</option>
                    <option value='ext'>EXT</option>
                    <option value='pulsetube'>PULSE TUBE</option>
                    </select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='OptV_recent'></div></div>

                <div class="col-12" id='right'><input class='bdr history' name="forecast" type="text" value="15"/></div>
                <div class="col-12" id='right'><div class="buttons"><a class="bdr new btn blue" id="bdr-forecast-T"></a></div></div>
                <div class="col-12" id='right'><button class="bdr download push_button w-95 blue" id="bdr-saveziplog">GET ZIPLOG</button></div>
            </div>

            <!-- Comparison row -->
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><select class='bdr history' name="compareday" type="text"></select></div>
                
                <div class="col-8" id='left'>
                    <select class='bdr history' name="P_Ch" type="text">
                        {% for i in range(6) %}
                        <option value={{i+1}} {% if i+1 == 3 %} selected {% endif %}>P{{i+1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='P_recent'></div></div> 

                <div class="col-8" id='left'>
                    <select class='bdr history' name="T_Ch" type="text" value="5">
                        {% for i in [1,2,3,4,5,6,7] %}
                        <option value={{i}} {% if i == 2 %} selected {% endif %}>T{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-8" id='left'><div class='bdr' id='T_recent'></div></div>
                
                <div class="col-12" id='right'>
                    <select class='bdr history axes-type-y2'>
                        <option value='linear' selected>Y2:Linear</option>
                        <option value='log'>Y2:Log</option>
                    </select>
                </div>
                <div class="col-12" id='right'>
                    <select class='bdr history axes-type-y1'>
                        <option value='linear' selected>Y1:Linear</option>
                        <option value='log'>Y1:Log</option>
                    </select>
                </div>
            </div>
            
            <div id="bdr-chart-01"></div>
        </div>
    </div>

    <!-- Samples-Allocation for respective Measurement-Systems -->
    <div class="bdrcontent" id="samples">
        <div class="container">
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <h2 class="bdr" id="samples">Output assignment for DR-{{DR_platform}}</h2>
            </div>
            <!-- Allocation table: -->
            <div class="row">
                <table class="BDR-QUEUE content-table">
                    <thead class="samples bdr-queue-update">
                        <tr>
                            
                        </tr>
                    </thead>
                    <tbody class="samples bdr-queue-update">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            {% if g.user['management'] %}
                <div class="row">
                    <div class="col-20" id='left'><h3 class="bdr samples-allocation">Loaded {{loaded}} NEW sample(s)</h3></div>
                </div>
                <div id="samples-allocation-status"></div>
                <div class="row">
                    <div class="col-15" id='left'><select class='bdr samples-allocation CHAR0' id='system-CHAR0' type="text">
                        <option value='null'> -reset- </option>
                        {% for s in recent_samples %}
                        {% if s==CHAR0_sample %}
                            <option value={{s}} selected>{{s}}</option>
                        {% else %}
                            <option value={{s}}>{{s}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></div>
                    <div class="col-15" id='left'><select class='bdr samples-allocation CHAR1' id='system-CHAR1' type="text">
                        <option value='null'> -reset- </option>
                        {% for s in recent_samples %}
                        {% if s==CHAR1_sample %}
                            <option value={{s}} selected>{{s}}</option>
                        {% else %}
                            <option value={{s}}>{{s}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></div>
                    <div class="col-15" id='left'><select class='bdr samples-allocation QPC0' id='system-QPC0' type="text">
                        <option value='null'> -reset- </option>
                        {% for s in recent_samples %}
                        {% if s==QPC0_sample %}
                            <option value={{s}} selected>{{s}}</option>
                        {% else %}
                            <option value={{s}}>{{s}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></div>
                    <div class="col-15" id='left'><select class='bdr samples-allocation QPC1' id='system-QPC1' type="text">
                        <option value='null'> -reset- </option>
                        {% for s in recent_samples %}
                        {% if s==QPC1_sample %}
                            <option value={{s}} selected>{{s}}</option>
                        {% else %}
                            <option value={{s}}>{{s}}</option>
                        {% endif %}
                        {% endfor %}
                    </select></div>
                </div>
            {% endif %}
            
        </div>
    </div>

    <!-- Wiring-Designation for respective Measurement-Systems -->
    <div class="bdrcontent" id="wiring">
        <div class="container">
            <div class="row">
                <h2 class="bdr" id="wiring">Instrument designations for DR-{{DR_platform}}</h2>
            </div>
            <!-- System selection -->
            <div class="row" style="color: blue;">
                <div class="col-15" id='left'><label class='parameter'>QUEUE-SYSTEM: </label></div>
                <div class="col-10" id='left'>
                    <select class='bdr wiring queue-system'>
                        <option value='lobby'>--system--</option>
                        {% for s in systemlist %}
                        {% if s==queue %}
                            <option value={{s}} selected>{{s}}</option>
                        {% else %}
                            <option value={{s}}>{{s}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Designation table: -->
            <div class="row">
                <table class="BDR-WIRING content-table">
                    <thead class="wiring designation-update">
                        <tr>
                            
                        </tr>
                    </thead>
                    <tbody class="wiring designation-update">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            {% if g.user['management'] %}
                <div class="row">
                    <div class="col-20" id='left'><h3 class="bdr wiring-designation">3 measurement systems:</h3></div>
                </div>
                <div id="wiring-designation-status"></div>
                {% for cat in category %}
                    <div class="row" id='wiring-designation-{{cat}}'>
                            <div class="col-10" id='left'><label class='bdr wiring-designation'>{{cat}}</label></div>
                            {% if cat.upper() in ["ROLE","CH"] %}
                                <div class="col-60" id='left'><textarea class='bdr wiring-designation {{cat}}' type="text" style="color:blue;"></textarea></div>
                            {% else %}
                                <div class="col-60" id='left'><input class='bdr wiring-designation {{cat}}' type="text"/></div>
                            {% endif %}
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-10" id='left'></div>
                    <div class="col-10" id='left'><input class="bdr wiring-designation set" type="submit" value="SET"/></div>
                </div>
            {% endif %}
            
        </div>
    </div>

</div>

</body>

</html>