<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/dc.js') }}"></script>
</head>

<body class="mach">
<div>

    <div class="tab2">
    <form method='GET'>
        <!-- PENDING MULTI-PLATFORM SUPPORT -->
        <button class='dc' id='yokogawa' name="init">YOKOGAWA</button>
        <button class='dc' id='keithley' name="init">KEITHLEY</button>
        <button class='dc' id='SRSDC-1' name="init">SRSDC-1</button>
        
    </form>
    </div>

    <!-- YOKOGAWA -->
    <div class="dccontent" id="yokogawa">
        <div class="container">

            <!-- Connecting -->
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-5" id='left'>
                    <select class='dc' id="yk-which">
                        <option value=1 selected>Y1</option>
                        <option value=2>Y2</option>
                    </select>
                </div>
                <div class="col-10" id='left'>
                    <select class='dc' id="yk-va-unit">
                        <option value=0 selected>Voltage</option>
                        <option value=1>Current</option>
                    </select>
                </div>
                <div class="col-12" id='left'>
                    <label class="dc switch">
                        <input class="dc" id='init-yokogawa' type="checkbox">
                        <div class="slider smooth">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
            </div>

            <!-- Sending Pulse -->
            <div class="row">
                <div class="col-10" id='left'><label>V Pulse</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Duration</label></div>
                <div class="col-5" id='left'></div>
            </div>
            <div class="row">
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vpulse" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc vaunit yokogawa" value="V"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vpulse-dur" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc tunit yokogawa" value="ms"></div>
                <div class="col-space" id='left'></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 blue yokogawa' id='yk-vpulse-send' name=''>SEND</button></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 red yokogawa' id='yk-onoff-send' name=''>ON-OFF</button></div>
            </div>
            <div class="row"></div>

            <!-- Sweeping -->
            <div class="row">
                <div class="col-25" id='left'><label>V Wave</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Delay</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Rate</label></div>
                <div class="col-5" id='left'></div>
            </div>
            <div class="row">
                <div class="col-25" id='left'><input class='dc scale yokogawa' id="yk-vwave" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc vaunit yokogawa" value="V"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vwave-dur" name='' type="text" value="10"/></div>
                <div class="col-5" id='left'><input class="dc tunit yokogawa" value="ms"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vwave-rate" name='' type="text" value="8"/></div>
                <div class="col-5" id='left'><input class="dc vasunit yokogawa" id="yk-vwave-rate-unit" name='' value="V/s"></div> 
                <div class="col-space" id='left'></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 blue yokogawa' id='yk-vwave-sweep' name=''>SWEEP</button></div>
            </div>
            <div class="row"></div>
            
        </div>
    </div>

    <!-- KEITHLEY -->
    <div class="dccontent keithley">
        <div class="container">
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-15" id='right'>
                    <label class="dc switch">
                        <input class="dc" id='init-keithley' type="checkbox">
                        <div class="slider smooth">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><label>V Pulse</label></div>
                <div class="col-12" id='left'><input class='dc scale keithley' name='vpulse' type="text" value="7"/></div>
                <div class="col-10" id='left'><input class="dc unit keithley" name='vpulse' value="V" readonly></div>
                <div class="col-5" id='left'></div>
                <div class="col-10" id='left'><label>Duration</label></div>
                <div class="col-12" id='left'><input class='dc scale keithley' name='vpulse-dur' type="text" value="10"/></div>
                <div class="col-10" id='left'><input class="dc unit keithley" name='vpulse-dur' value="ms" readonly></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 blue keithley' name='vpulse-send'>SEND</button></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 red keithley' name='onoff-send'>ON-OFF</button></div>
            </div>

            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <p class="keit status"></p>
            </div>

            <div id="dc-keith-chart"></div>
            
        </div>
    </div>

    

</div>
</body>

</html>

