<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/dc.js') }}"></script>
</head>

<body class="mach">
<div>

    <div class="tab2">
    <form method='GET'>
        <button class='dc' id='yokogawa' name="init">YOKOGAWA</button>
        <button class='dc' id='keithley' name="init">KEITHLEY</button>
        <button class='dc' id='amplifier'>AMPLIFIER</button>
        <button class='dc' id='wavein'>WAVE-IN</button>
        <button class='dc' id='ivcurve' name="init">I-Vb</button> 
        
    </form>
    </div>

    <!-- YOKOGAWA -->
    <div class="dccontent" id="yokogawa">
        <div class="container">

            <!-- Connecting -->
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-5" id='left'>
                    <select class='dc' id="yk-which">
                        <option value=1 selected>Y1</option>
                        <option value=2>Y2</option>
                    </select>
                </div>
                <div class="col-10" id='left'>
                    <select class='dc' id="yk-va-unit">
                        <option value=0 selected>Voltage</option>
                        <option value=1>Current</option>
                    </select>
                </div>
                <div class="col-12" id='left'>
                    <label class="dc switch">
                        <input class="dc" id='init-yokogawa' type="checkbox">
                        <div class="slider smooth">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
            </div>

            <!-- Sending Pulse -->
            <div class="row">
                <div class="col-10" id='left'><label>V Pulse</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Duration</label></div>
                <div class="col-5" id='left'></div>
            </div>
            <div class="row">
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vpulse" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc vaunit yokogawa" value="V"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vpulse-dur" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc tunit yokogawa" value="ms"></div>
                <div class="col-space" id='left'></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 blue yokogawa' id='yk-vpulse-send' name=''>SEND</button></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 red yokogawa' id='yk-onoff-send' name=''>ON-OFF</button></div>
            </div>
            <div class="row"></div>

            <!-- Sweeping -->
            <div class="row">
                <div class="col-25" id='left'><label>V Wave</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Delay</label></div>
                <div class="col-5" id='left'></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><label>Rate</label></div>
                <div class="col-5" id='left'></div>
            </div>
            <div class="row">
                <div class="col-25" id='left'><input class='dc scale yokogawa' id="yk-vwave" name='' type="text" value="0"/></div>
                <div class="col-5" id='left'><input class="dc vaunit yokogawa" value="V"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vwave-dur" name='' type="text" value="10"/></div>
                <div class="col-5" id='left'><input class="dc tunit yokogawa" value="ms"></div>
                <div class="col-space" id='left'></div>
                <div class="col-10" id='left'><input class='dc scale yokogawa' id="yk-vwave-rate" name='' type="text" value="8"/></div>
                <div class="col-5" id='left'><input class="dc vasunit yokogawa" id="yk-vwave-rate-unit" name='' value="V/s"></div> 
                <div class="col-space" id='left'></div>
                <div class="col-12" id='left'><button class='dc push_button w-95 blue yokogawa' id='yk-vwave-sweep' name=''>SWEEP</button></div>
            </div>
            <div class="row"></div>
            
        </div>
    </div>

    <!-- KEITHLEY -->
    <div class="dccontent" id="keithley">
        <div class="container">
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-15" id='right'>
                    <label class="dc switch">
                        <input class="dc" id='init-keithley' type="checkbox">
                        <div class="slider smooth">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><label>V Pulse</label></div>
                <div class="col-12" id='left'><input class='dc scale' id="keithley" name='vpulse' type="text" value="7"/></div>
                <div class="col-10" id='left'><input class="dc unit" id="keithley" name='vpulse' value="V" readonly></div>
                <div class="col-5" id='left'></div>
                <div class="col-10" id='left'><label>Duration</label></div>
                <div class="col-12" id='left'><input class='dc scale' id="keithley" name='vpulse-dur' type="text" value="10"/></div>
                <div class="col-10" id='left'><input class="dc unit" id="keithley" name='vpulse-dur' value="ms" readonly></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 blue' id='keithley' name='vpulse-send'>SEND</button></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 red' id='keithley' name='onoff-send'>ON-OFF</button></div>
            </div>

            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <p class="keit status"></p>
            </div>

            <div id="dc-keith-chart"></div>
            
        </div>
    </div>

    <!-- DC Amplifier Box -->
    <div class="dccontent" id="amplifier">
        <div class="container">
            
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-5" id='left'></div>
                <div class="col-20" id='left'>
                    <label class="dc switch">
                        <input class="dc" id='on-amplifier' type="checkbox">
                        <div class="slider">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
                <div class="dc-ind SE col-20" id='left'>
                    <button class="large red button" disabled>Single-End</button>
                </div>
                <div class="dc-ind DIFF col-20" id='left'>
                    <button class="large blue button" disabled>Differential</button>
                </div>
                <div class="dc-ind Current col-20" id='left'>
                    <button class="large red button" disabled>Current Bias</button>
                </div>
                <div class="dc-ind Voltage col-20" id='left'>
                    <button class="large blue button" disabled>Voltage Bias</button>
                </div>
                
            </div>

            <br><br>
            <div class="row">
                <div class="col-15 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-VSP"></canvas>
                </div>
                <div class="col-15 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-VSN"></canvas>
                </div>
                <div class="col-32 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Div"></canvas>
                </div>
                <div class="col-32 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Rb"></canvas>
                </div>
            </div>

            <br><br>
            <div class="row">
                <div class="col-30" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Vg1"></canvas>
                </div>
                <div class="col-30" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Vg2"></canvas>
                </div>
                <!-- <div class="col-12" id='left'></div> -->
                <div class="col-15" id='left'>
                    <canvas class='dc ampgauges' id="canvas-gain1"></canvas>
                </div>
                <div class="col-15" id='left'>
                    <canvas class='dc ampgauges' id="canvas-gain2"></canvas>
                </div>
                
            </div>
           
        </div>
    </div>

    <!-- IV Curve -->
    <div class="dccontent" id="ivcurve">
        <div class="container">
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><label>V Range</label></div>
                <div class="col-49" id='left'><input class='dc scale' id="ivcurve" name='vrange' type="text" value="0 to -10 *1000 to 10 *2000 to 0 * 1000"/></div>
                <div class="col-10" id='left'><input class="dc unit" id="ivcurve" name='vrange' value="V" readonly></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 blue' id='ivcurve' name='sweep'>SWEEP</button></div>
            </div>
            <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                <div class="col-10" id='left'><label>Delay time</label></div>
                <div class="col-12" id='left'><input class='dc scale' id="ivcurve" name='mdelay' type="text" value="1"/></div>
                <div class="col-10" id='left'><input class="dc unit" id="ivcurve" name='mdelay' value="ms" readonly></div>
                <div class="col-5" id='left'></div>
                <div class="col-10" id='left'><label>Waiting time</label></div>
                <div class="col-12" id='left'><input class='dc scale' id="ivcurve" name='mwaiting' type="text" value="1"/></div>
                <div class="col-10" id='left'><input class="dc unit" id="ivcurve" name='mwaiting' value="ms" readonly></div>
                <div class="col-15" id='right'><button class='dc push_button w-95 blue' id='ivcurve' name='save'>SAVE</button></div>
                <!-- <a href="{{ url_for('machine.download', filename='test.json') }}">Download</a> -->
            </div>

            <div id="dc-measureivcurve-chart"></div>
            
        </div>
    </div>


</div>
</body>

</html>

