<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/dc.js') }}"></script>
</head>

<body class="mach">
<div>

    <div class="tab2">
    <form method='GET'>
        <button class='dc' id='amplifier'>AMPLIFIER</button>
        <button class='dc' id='wavein'>WAVE-IN</button>
        <button class='dc' id='ivcurve'>I-Vb</button> 
        
    </form>
    </div>

    
    <div class="dccontent" id="amplifier">
        <div class="container">
            
            <div class="row"> <!-- NEW ROW for ON-OFF SWITCH -->
                <div class="col-5" id='left'></div>
                <div class="col-20" id='left'>
                    <label class="dc switch">
                        <input class="dc" id='on-amplifier' type="checkbox">
                        <div class="slider">
                            <span class="on">ON</span><span class="off">OFF</span>
                        </div>
                    </label>
                </div>
                <div class="dc-ind SE col-20" id='left'>
                    <button class="large red button" disabled>Single-End</button>
                </div>
                <div class="dc-ind DIFF col-20" id='left'>
                    <button class="large blue button" disabled>Differential</button>
                </div>
                <div class="dc-ind Current col-20" id='left'>
                    <button class="large red button" disabled>Current Bias</button>
                </div>
                <div class="dc-ind Voltage col-20" id='left'>
                    <button class="large blue button" disabled>Voltage Bias</button>
                </div>
                
            </div>

            <!-- <div class="row">
                <div class="col-48 acenter" id='left'>
                    <h3>Vb = DAQ-AO</h3>
                </div>
                <div class="col-48 acenter" id='left'>
                    <h3>The distributor</h3>
                </div>
                
            </div> -->

            <br><br>
            <div class="row">
                <div class="col-15 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-VSP"></canvas>
                </div>
                <div class="col-15 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-VSN"></canvas>
                </div>
                <div class="col-32 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Div"></canvas>
                </div>
                <div class="col-32 acenter" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Rb"></canvas>
                </div>
            </div>

            <br><br>
            <div class="row">
                <div class="col-30" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Vg1"></canvas>
                </div>
                <div class="col-30" id='left'>
                    <canvas class='dc ampgauges' id="canvas-Vg2"></canvas>
                </div>
                <!-- <div class="col-12" id='left'></div> -->
                <div class="col-15" id='left'>
                    <canvas class='dc ampgauges' id="canvas-gain1"></canvas>
                </div>
                <div class="col-15" id='left'>
                    <canvas class='dc ampgauges' id="canvas-gain2"></canvas>
                </div>
                
            </div>
           
            
            
        </div>
    </div>

    

    

    

</div>
</body>

</html>

