<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/job.js') }}"></script>
</head>

<body class="mach">
<div>
    
    <div class="tab">
        <button class='job' id='basic'>BASIC</button>
    </div>
    
    <div class="jobcontent" id="basic">
        <div class="container">
            <h3> 1. Generating Square-Wave: </h3>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-25"><label>Segment-1</label></div>
                    <div class="col-75"><input class='job' id="settings" name='seg1' type="text" value="1000"/></div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-25"><label>Segment-2</label></div>
                    <div class="col-75"><input class='job' id="settings" name='seg2' type="text" value="1000"/></div>
                </div>
                
                <div class="row"> <!-- ACTION BUTTON -->
                    <div class="col-25"></div>
                    <div class="col-35"><input class='job' id='submitsettings' type="submit" value="Submit"/></div>
                </div>
            
        </div>
    </div>

</div>
</body>

</html>