{% extends 'base.html' %} 
{% block title %}Machine{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mach.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/mach/mach.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mach" style="overflow-y:hidden">

<script>
    //compensating what base.js cannot do
    $('.navbar button').removeClass('active');
    $('.navbar button.machine').addClass('active');
    $(function(){
      $("div#all").load("{{ url_for('machine.all') }}");
      $("div#bdr").load("{{ url_for('machine.bdr') }}");
      $("div#dc").load("{{ url_for('machine.dc') }}");
      $("div#na").load("{{ url_for('machine.na') }}");
      $("div#sg").load("{{ url_for('machine.sg') }}"); 
      $("div#tkawg").load("{{ url_for('machine.tkawg') }}");
      $("div#alzdg").load("{{ url_for('machine.alzdg') }}");
      $("div#sa").load("{{ url_for('machine.sa') }}");
    });
</script> 

{% if g.user['instrument'] %}
<div class="tab">
  <button class="tablinks" id="all-tab" onclick="openTab(event, 'all')">ALL</button>

  <!-- Support: Dilution Refrigerator -->
  <button class="tablinks support" id="bdr-tab" onclick="openTab(event, 'bdr')">BDR</button>
  <!-- Support: DC Source-->
  <button class="tablinks support" id="dc-tab" onclick="openTab(event, 'dc')">DC</button>

  <!-- Continuous: Network Analyzer -->
  <button class="tablinks continuous-rf" id="na-tab"  onclick="openTab(event, 'na')"> NA </button>
  <!-- Continuous: Signal Generators -->
  <button class="tablinks continuous-rf" id="sg-tab"  onclick="openTab(event, 'sg')"> SG </button>

  <!-- Pulse: Tektronix AWG -->
  <button class="tablinks pulse-rf" id="tkawg-tab" onclick="openTab(event, 'tkawg')">TKAWG</button>
  <!-- Pulse: AlazarTech DIG -->
  <button class="tablinks pulse-rf" id="alzdg-tab" onclick="openTab(event, 'alzdg')">ALZDG</button>
  
  <!-- Diagnostic: Spectrum Analyzer -->
  <button class="tablinks diagnostic" id="sa-tab" onclick="openTab(event, 'sa')">SA</button>
</div>

<div id="all" class="tabcontent"></div>
<div id="bdr" class="tabcontent"></div>
<div id="dc" class="tabcontent"></div>
<div id="na" class="tabcontent"></div>
<div id="sg" class="tabcontent"></div>
<div id="tkawg" class="tabcontent"></div>
<div id="alzdg" class="tabcontent"></div>
<div id="sa" class="tabcontent"></div>
{% endif %}

</body>

{% endblock %}