{% extends 'base.html' %} 
{% block title %}Machine{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mach.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/mach/mach.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mach" style="overflow-y:hidden">

<script>
    //compensating what base.js cannot do
    $('.navbar button').removeClass('active');
    $('.navbar button.machine').addClass('active');
    $(function(){
      $("div#all").load("{{ url_for('machine.all') }}");
      $("div#dc").load("{{ url_for('machine.dc') }}");
      $("div#bdr").load("{{ url_for('machine.bdr') }}");
      $("div#na").load("{{ url_for('machine.na') }}");
      $("div#sg").load("{{ url_for('machine.sg') }}"); 
      $("div#tkawg").load("{{ url_for('machine.tkawg') }}");
      // $("div#awg").load("{{ url_for('machine.awg') }}");
      // $("div#vsa").load("{{ url_for('machine.vsa') }}");
      $("div#alzdg").load("{{ url_for('machine.alzdg') }}");
    });
</script> 

{% if g.user %}
<div class="tab">
  <button class="tablinks" id="all-tab" onclick="openTab(event, 'all')">ALL</button>
  <button class="tablinks" id="dc-tab" onclick="openTab(event, 'dc')">DC</button>
  <button class="tablinks" id="bdr-tab" onclick="openTab(event, 'bdr')">BDR</button>
  <!-- Network Analyzer -->
  <button class="tablinks" id="na-tab"  onclick="openTab(event, 'na')"> NA </button>
  <!-- Signal Generators -->
  <button class="tablinks" id="sg-tab"  onclick="openTab(event, 'sg')"> SG </button>
  <!-- Tektronix AWG -->
  <button class="tablinks" id="tkawg-tab" onclick="openTab(event, 'tkawg')">TKAWG</button>
  <!-- PXI Temporal Dynamic Instruments -->
  <!-- <button class="tablinks" id="awg-tab" onclick="openTab(event, 'awg')">AWG</button>
  <button class="tablinks" id="vsa-tab" onclick="openTab(event, 'vsa')">VSA</button> -->
  <!-- AlazarTech DIG -->
  <button class="tablinks" id="alzdg-tab" onclick="openTab(event, 'alzdg')">ALZDG</button>
</div>

<div id="all" class="tabcontent"></div>
<div id="dc" class="tabcontent"></div>
<div id="bdr" class="tabcontent"></div>
<div id="na" class="tabcontent"></div>
<div id="sg" class="tabcontent"></div>
<div id="tkawg" class="tabcontent"></div>
<!-- <div id="awg" class="tabcontent"></div>
<div id="vsa" class="tabcontent"></div> -->
<div id="alzdg" class="tabcontent"></div>
{% endif %}

</body>

{% endblock %}