{% extends 'base.html' %} 
{% block title %}Machine{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mach.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anime.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/mach/mach.js') }}"></script>
{% endblock %}

{% block content %}

<body class="mach" style="overflow-y:hidden">

<script>
    $('.navbar button').removeClass('active');
    $('.navbar button.machine').addClass('active');
    $(function(){
      $("div#all").load("{{ url_for('machine.all') }}");
      $("div#bdr").load("{{ url_for('machine.bdr') }}");
      $("div#awg").load("{{ url_for('machine.awg') }}");
      $("div#vsa").load("{{ url_for('machine.vsa') }}");
      $("div#sg").load("{{ url_for('machine.sg') }}");
      $("div#dso").load("{{ url_for('machine.dso') }}"); 
    });
</script> 

{% if g.user %}
<div class="tab">
  <button class="tablinks" id="all-tab" onclick="openTab(event, 'all')">ALL</button>
  <button class="tablinks" id="bdr-tab" onclick="openTab(event, 'bdr')">BDR</button>
  <button class="tablinks" id="awg-tab" onclick="openTab(event, 'awg')">AWG</button>
  <button class="tablinks" id="vsa-tab" onclick="openTab(event, 'vsa')">VSA</button>
  <button class="tablinks" id="sg-tab"  onclick="openTab(event, 'sg')"> SG </button>
  <button class="tablinks" id="dso-tab" onclick="openTab(event, 'dso')">DSO</button>
</div>

<div id="all" class="tabcontent"></div>
<div id="bdr" class="tabcontent"></div>
<div id="awg" class="tabcontent"></div>
<div id="vsa" class="tabcontent"></div>
<div id="sg" class="tabcontent"></div>
<div id="dso" class="tabcontent"></div>
{% endif %}

</body>

{% endblock %}