<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/na.js') }}"></script>
</head>

<body class="mach">
<div>

    <div class="tab2">
    <form method='GET'>
        <button class='na' id='natype' name='ENA'>E5071</button>
        <button class='na' id='natype' name='PNA'>PNA</button>

        <button class='na' id='log'>INSTR-LOG</button>
        
    </form>
    </div>

    <div class="nacontent" id="log"></div>
    <div class="nacontent" id="settings">
        <div class="container">
            <form method='GET'>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label>Frequency Range</label></div>
                    <div class="col-20" id='left'><input class='na scale' id="settings" name='freqrange' type="text" value="4 to 8 * 3000"/></div>
                    <div class="col-10" id='left'><input class="na unit" id="settings" name='freqrange' value="GHz"></div>
                    <div class="col-5" id='left'></div>
                    <div class="col-10" id='left'><label>Power</label></div>
                    <div class="col-12" id='left'><input class='na scale' id="settings" name='powa' type="text" value="-5"/></div>
                    <div class="col-10" id='left'><input class="na unit" id="settings" name='powa' value="dBm"></div>
                    <!-- Close / Reset -->
                    <div class="col-15" id='right'>
                        <button class='na push_button w-95 red' id='closet'>CLOSE</button>
                    </div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label>IFB</label></div>
                    <div class="col-12" id='left'><input class='na scale' id="settings" name='ifb' type="text" value="1000"/></div>
                    <div class="col-10" id='left'><input class="na unit" id="settings" name='ifb' value="Hz"></div>
                    <div class="col-13" id='left'></div>
                    <div class="col-10" id='left'><label>Average</label></div>
                    <div class="col-12" id='left'><input class='na scale' id="settings" name='ave' type="text" value="1"/></div>
                    <!-- Close / Reset -->
                    <div class="col-15" id='right'>
                        <button class='na push_button w-95 blue' id='preset'>PRESET</button>
                    </div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label>SWEEP</label></div>
                    <div class="col-20" id='left'>
                        <label class="switch"><input class='na' id=settings name='sweep' type="checkbox">
                            <div class="slider smooth"><span class="on">ON</span><span class="off">OFF</span></div>
                        </label>
                    </div>
                    <div class="col-15" id='right'>
                        <select class='na scale' id="settings" name='sparam' type="text">
                            <option value='' selected>S-Param</option>
                            <option value='S21'>S21</option>
                            <option value='S12'>S12</option>
                            <option value='S11'>S11</option>
                            <option value='S22'>S22</option>
                        </select>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>
</body>

</html>