<!doctype html> <!--extended from parent: machine.html, which in turn inherited base.html-->

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/mach/sg.js') }}"></script>
</head>

<body class="mach">
<div>

    <div class="tab2">
    <form method='GET'>
        {% if 'PSGV-1' in g.instlist %}<button class='sg sgname' name='PSGV-1'>PSGV-1</button>{% endif %}
        {% if 'PSGA-1' in g.instlist %}<button class='sg sgname' name='PSGA-1'>PSGA-1</button>{% endif %}
        {% if 'PSGA-2' in g.instlist %}<button class='sg sgname' name='PSGA-2'>PSGA-2</button>{% endif %}
        {% if 'RSSGS-1' in g.instlist %}<button class='sg sgname' name='RSSGS-1'>RSSGS-1</button>{% endif %}
        {% if 'DDSLO-1' in g.instlist %}<button class='sg sgname' name='DDSLO-1'>DDSLO-1</button>{% endif %}
        {% if 'DDSLO-2' in g.instlist %}<button class='sg sgname' name='DDSLO-2'>DDSLO-2</button>{% endif %}
        {% if 'DDSLO-3' in g.instlist %}<button class='sg sgname' name='DDSLO-3'>DDSLO-3</button>{% endif %}
        {% if 'DDSLO-4' in g.instlist %}<button class='sg sgname' name='DDSLO-4'>DDSLO-4</button>{% endif %}

        <button class='sg log'>INSTR-LOG</button>
        
    </form>
    </div>

    <div class="sgcontent log"></div>
    <div class="sgcontent settings">
        <div class="container">
            <form method='GET'>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>Attention</label></div>
                    <div class="col-30" id='left'>
                        <div class='sg' id="sg-current-user"></div>
                    </div>
                </div>
                
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>Channel</label></div>
                    <div class="col-12" id='left'><select class='sg settings' name='channel'></select></div> 
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>Frequency</label></div>
                    <div class="col-12" id='left'><input class='sg scale settings' name='freq' type="number" value=""/></div>
                    <div class="col-10" id='left'><input class="sg unit settings" name='freq' value="GHz"></div>
                    <!-- Close / Reset -->
                    <div class="col-15" id='right'>
                        <button class='sg push_button w-95 red closet'>LEAVE</button>
                    </div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>Power</label></div>
                    <div class="col-12" id='left'><input class='sg scale settings' name='powa' type="number" value="" max="25"/></div>
                    <div class="col-10" id='left'><input class="sg unit settings" name='powa' value="dBm"></div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>RF port</label></div>
                    <div class="col-20" id='left'>
                        <label class="switch"><input class='sg settings' name='oupt' type="checkbox">
                            <div class="slider smooth"><span class="on">ON</span><span class="off">OFF</span></div>
                        </label>
                    </div>
                </div>
                <div class="row"> <!-- NEW ROW of INPUT/SELECT -->
                    <div class="col-10" id='left'><label class='parameter'>Status</label></div>
                    <div class="col-49" id='left'>
                        <div class='sg' id="sg-status-announcement"></div>
                    </div>
                </div>

                
            </form>
        </div>
    </div>
</div>
</body>

</html>