<html>

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
</head>

<body style="">

<div class="test"></div>
<div style="background-color: black;">
<h3 style="color: white;">Welcome to play any instrument you wish :) :) :)</h3>
</div>
<div class="atest">THIS IS A TEST PAGE</div>

</body>

</html>