<!doctype html> <!--extended from parent: user.html, which in turn inherited base.html-->

<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="{{ url_for('static', filename='js/auth/profile.js') }}"></script>
</head>

<body class="profile">
  <div class="container" id="profile">
    <form method="post">

      <div class="row"> <!-- UPDATE BUTTON -->
        <div class="col-12" id='left'><input class='profile' id="profile-update" type="submit" value="Update Profile"></div>
        <div class="col-15" id='left'><input class='profile' id="profile-update-password" type="submit" value="Change Password"></div>
      </div>
        
      <div class="row label">
        <div class="col-10" id='left'><label>Username:</label></div>
        <div class="col-20" id='left'><input class='profile' id="profile-username" type="text"/></div>
      </div>

      <div class="row label">
        <div class="col-10" id='left'><label>Full Name:</label></div>
        <div class="col-20" id='left'><input class='profile' id="profile-fullname" type="text"/></div>
      </div>

      <div class="row label">
        <div class="col-10" id='left'><label>Email:</label></div>
        <div class="col-20" id='left'><input class='profile' id="profile-email" type="text"/></div>
      </div>

      <div class="row label">
        <div class="col-10" id='left'><label>Phone:</label></div>
        <div class="col-20" id='left'><input class='profile' id="profile-phone" type="text"/></div>
      </div>

      <div class="row label">
        <div class="col-10" id='left'><label>Affiliation:</label></div>
        <div class="col-20" id='left'><input class='profile' id="profile-affiliation" type="text"/></div>
      </div>
        
        

    </form>
  </div>
</body>


