{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<body class="reg">
  <div class="container" id="reg">
    <form method="post">

      <div class="row"> <!-- User Name -->
        <div class="col-10"><label for="username">Username</label></div>
        <div class="col-35"><input name="username" id="username" required></div>
      </div>

      <div class="row"> <!-- PassWord -->
        <div class="col-10"><label for="password">Password</label></div>
        <div class="col-35"><input type="password" name="password" id="password" required></div>
      </div>

      <div class="row"> <!-- Full Name -->
        <div class="col-10"><label for="fullname">Full Name</label></div>
        <div class="col-35"><input name="fullname" id="fullname" required></div>
      </div>

      <div class="row"> <!-- Affiliation -->
        <div class="col-10"><label for="affiliation">Affiliation</label></div>
        <div class="col-35"><input name="affiliation" id="affiliation" required></div>
      </div>

      <div class="row"> <!-- Email -->
        <div class="col-10"><label for="email">Email</label></div>
        <div class="col-35"><input name="email" id="email" required></div>
      </div>
      
      <div class="row"> <!-- SUBMIT BUTTON -->
        <div class="col-10"></div>
        <div class="col-15"><input type="submit" value="Register"></div>
      </div>

    </form>
  </div>
</body>
{% endblock %}

