<!doctype html> <!--extended from parent: user.html, which in turn inherited base.html-->

<head>
  <title>Samples</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="{{ url_for('static', filename='js/auth/samples.js') }}"></script>
</head>

<body class="samples">
  <div class="container" id="samples">
    <form method="GET">

      <div class="row">
        <div class="col-35 samples" id='left'>
          <label for="sample" id='registered'></label>
        </div>
      </div>
        
      <div class="row">
        <div class="col-20" id='left'>
          <select class="samples" id="samples" name="main">
            <option value=0> -main- </option>
            {% for s in samples %}
              {% if s==selected_sample %}
                <option value={{s}} selected>{{s}}</option>
              {% else %}
                <option value={{s}}>{{s}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-10" id='left'>
          <select class="samples" id="co-samples" name="shared">
            <option value=0> -shared- </option>
            {% for s in cosamples %}
              {% if s==selected_sample %}
                <option value={{s}} selected>{{s}}</option>
              {% else %}
                <option value={{s}}>{{s}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="col-10" id='left'><button class="user-samples push_button w-95 green" id="samples-add">ADD NEW</button></div>
        <!-- pending: auto-remove any sample-folder that is empty for >30 days -->

      </div>

      <div class="row">
        <div class="row label">
          <div class="col-15" id='left'><label>D.O.B</label></div>
          <div class="col-43" id='left'><label>Location</label></div>
        </div>
        <div class="row">
          <div class="col-15" id='left'><input class='user-samples' id="update" name='dob' type="text" value=""/></div>
          <div class="col-43" id='left'><input class='user-samples' id="update" name='loc' type="text" value=""/></div>
        </div>

        <div class="row label">
          <div class="col-60" id='left'><label>Shared with</label></div>
        </div>
        <div class="row">
          <div class="col-60" id='left'><input class='user-samples' id="update" name='coauthors' type="text" value=""/></div>
        </div>

        <div class="row label">
          <div class="col-75" id='left'><label>Previously:</label></div>
        </div>
        <div class="row">
            <div class="col-75" id='left'><input class='user-samples' id="update" name='prev' type="text" value=""/></div>
        </div>

        <div class="row label">
          <div class="col-75" id='left'><label>Description:</label></div>
        </div>
        <div class="row">
          <div class="col-75" id='left'>
              <textarea class='user-samples' id="update" name="description" type="text" rows="3" cols="73"></textarea>
          </div>
        </div>

        <div class="row label">
          <div class="col-75" id='left'><label>Entries (History of Measurements):</label></div>
        </div>
        <div class="row">
          <div class="col-75" id='left'>
              <textarea class='user-samples' id="update" name="history" type="text" rows="3" cols="73"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Only allow Main User to Update -->
        <div class="col-10" id='left'><button class="user-samples push_button w-95 green" id="samples-update">UPDATE</button></div>
        <div class="col-10" id='left'><button class="user-samples push_button w-95 blue" id="samples-meal">MEAL <i class="far fa-arrow-alt-circle-up"></i></button></div>
      </div>

      <!-- Brings up dialogue box for adding sample details -->
      <div class="modal samples add-details">
          <div class="modal-overlay modal-toggle samples add-details"></div>
          <div class="modal-wrapper modal-transition">
              <div class="modal-header">
                  <h2 class="modal-heading">Sample Registration:</h2>
              </div>
                  
              <div class="modal-body">
                  <div class="modal-content">
                      <div class="row label">
                        <div class="col-22" id='left'><label>Name</label></div>
                        <div class="col-15" id='left'><label>D.O.B</label></div>
                        <div class="col-35" id='left'><label>Location</label></div>
                      </div>
                      <div class="row">
                        <div class="col-22" id='left'><input class='user-samples' id="register" name='sname' type="text" value=""/></div>
                        <div class="col-15" id='left'><input class='user-samples' id="register" name='dob' type="text" value=""/></div>
                        <div class="col-35" id='left'><input class='user-samples' id="register" name='loc' type="text" value=""/></div>
                      </div>

                      <div class="row label">
                        <div class="col-75" id='left'><label>Previously:</label></div>
                      </div>
                      <div class="row">
                          <div class="col-75" id='left'><input class='user-samples' id="register" name='prev' type="text" value=""/></div>
                      </div>

                      <div class="row label">
                        <div class="col-75" id='left'><label>Description:</label></div>
                      </div>
                      <div class="row">
                        <div class="col-75" id='left'>
                            <textarea class='user-samples' id="register" name="description" type="text" rows="3" cols="73">--describe your sample--</textarea>
                        </div>
                      </div>

                      <div class="row"> <!-- New Row for EXECUTION -->
                        <div class="col-15" id='left'><input class="user modal-toggle add-details samples" id="samples-register" type="submit" value="REGISTER"/></div>
                        <div class="col-15" id='left'><input class="user modal-toggle add-details samples" id="samples-cancel" type="submit" value="CANCEL"/></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Brings up dialogue box for confirming update -->
      <div class="modal samples confirm-update">
        <div class="modal-overlay modal-toggle samples confirm-update"></div>
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <h2 class="modal-heading">Sample Registration:</h2>
            </div>
                
            <div class="modal-body">
                <div class="modal-content">
                    <div class="row label">
                      <div class="col-15" id='left'><label>Owner Password</label></div>
                    </div>
                    <div class="row">
                      <div class="col-15" id='left'><input class='user-samples' id="ownerpassword" type="password"/></div>
                    </div>

                    <div class="row"> <!-- New Row for EXECUTION -->
                      <div class="col-15" id='left'><input class="user modal-toggle confirm-update samples" id="samples-confirm" type="submit" value="CONFIRM"/></div>
                      <div class="col-15" id='left'><input class="user modal-toggle confirm-update samples" id="samples-cancel" type="submit" value="CANCEL"/></div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </form>

  </div>
        
</body>


