{% extends 'base.html' %} 
{% block title %}WELCOME TO PYQUM v0.1{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth/posts.js') }}"></script>
{% endblock %}

{% block content %} 

<body class="home">

{% if g.user %}
<div class="container" id="post">
    <div class=row id='left'>
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    </div>
</div>
{% endif %}

<div class="posts"></div>

<!-- {% for post in posts %} -->

<!-- <div class="container" id="post">
    <div class="row">
        <div class="title">{{ post['title'] }}</div>
    </div>
    <div class='row'>
        <div class="about">
            by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }} 
            {% if g.user['id'] == post['author_id'] %}
            <a href="{{ url_for('blog.update', id=post['id']) }}"> [Edit]</a>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <p class="body posts">
            {{ post['body'] }}
        </p>
    </div>
</div> -->

<!-- {% if not loop.last %}
<hr>
{% endif %} -->

<!-- {% endfor %}  -->

</body>

{% endblock %}
