
/*Darkmode button*/
#dmbutton {
    appearance: none;
    background-color: #000000e8;
    border: 0.2rem solid rgba(222, 222, 222, 0.369);
    border-radius: 1rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: rgb(0, 255, 21);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    width:6%;
    height:8%;
    position:fixed;
    top:1.7%;
    right:1%;
    z-index: 10;

    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#dmbutton:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
}

#dmbutton:active {
    background-color: #7d8797;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}

#Start-measure-but{
    position:absolute;
    background-color:#48724b;
    color:rgb(255, 255, 255);
    top:250%;
    left:135%;
    width:15%;
    height:90%;
    border-radius: 1.5rem;
    font-size:1.2rem;
}
#Start-measure-but:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
}
#Start-measure-but:active {
    background-color: #7d8797;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
/*Cavity search button part*/
#CS-search{
    appearance: none;
    background-color: #ff7f7f;
    border: 0.2rem solid rgba(27, 31, 35, .15);
    border-radius: 1.2rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    line-height: 1.34rem;
    width: 18.5%;
    height:22.5%;
    position: absolute;
    top:12.5%;
    right:1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#CS-search:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
#CS-search:active {
    background-color: #b6555c;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
#looks-CS{
    appearance: none;
    background-color: #fca3fa;
    border: 0.2rem solid rgba(27, 31, 35, .15);
    border-radius: 1.2rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.34rem;
    width: 18.5%;
    height:22.5%;
    position: absolute;
    top:36.5%;
    right:1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#looks-CS:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
#looks-CS:active {
    background-color: #c983c7;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
.ShowPara-CS {
    appearance: none;
    background-color: #b1ae52;
    border: 0.2rem solid rgba(27, 31, 35, .15);
    border-radius: 1.2rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.34rem;
    width:18.5%;
    height:5%;
    position: absolute;
    top:62%;
    right:1.1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.ShowPara-CS:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
.ShowPara-CS:active {
    background-color: #c5b443;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}


/*Power Dependence button part*/
#PD-search,#FD-search,#CW-search {
    appearance: none;
    background-color: #ff7f7f;
    border: 0.2rem solid rgba(27, 31, 35, .15);
    border-radius: 1.2rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.34rem;
    width: 18.5%;
    height:45%;
    position: absolute;
    top:17%;
    right:1.1%;
    text-align: center;
    text-decoration:none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#PD-search:hover,#FD-search:hover,#CW-search:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
#PD-search:active,#FD-search:active,#CW-search:active {
    background-color: #b6555c;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
.ShowPara-PD,.ShowPara-FD,.ShowPara-CW {
    appearance: none;
    background-color: #b1ae52;
    border: 0.2rem solid rgba(27, 31, 35, .15);
    border-radius: 1.2rem;
    box-shadow: rgba(27, 31, 35, .1) 0 0.07rem 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.34rem;
    width: 18.5%;
    height:5%;
    position: absolute;
    top:64%;
    right:1.1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
.ShowPara-PD:hover,.ShowPara-FD:hover,.ShowPara-CW:hover {
    background-color: #fef992;
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}
.ShowPara-PD:active,.ShowPara-FD:active,.ShowPara-CW:active {
    background-color: #c5b443;
    box-shadow: rgba(20, 70, 32, .2) 0 0.07rem 0 inset;
}

#showcontent-MS{
    background-color: transparent;
    color:rgb(0,0,0);
    position:relative;
    top:25%;
    right:-93%;
    width:5%;
    height:60%;
    border-radius: 1rem;
    z-index: 10;
    font-size:1rem ;
    border: 0.2rem solid rgb(79, 70, 70);
}

#showcontent-CS{
    background-color: transparent;
    color:rgb(0,0,0);
    position:relative;
    top:25%;
    right:-82%;
    width:5%;
    height:60%;
    border-radius: 1rem;
    z-index: 10;
    font-size:1rem ;
    border: 0.2rem solid rgb(79, 70, 70);
}
#showcontent-PD{
    background-color:transparent;
    color:rgb(0,0,0);
    position:relative;
    top:25%;
    right:-71%;
    width:5%;
    height:60%;
    border-radius: 1rem;
    z-index: 10;
    font-size:1rem ;
    border: 0.2rem solid rgb(79, 70, 70);
}
#showcontent-FD{
    background-color:transparent;
    color:rgb(0,0,0);
    position:relative;
    top:25%;
    right:-60%;
    width:5%;
    height:60%;
    border-radius: 1rem;
    z-index: 10;
    font-size:1rem ;
    border: 0.2rem solid rgb(79, 70, 70);
}
#showcontent-CW{
    background-color:transparent;
    color:rgb(0,0,0);
    position:relative;
    top:25%;
    right:-49%;
    width:5%;
    height:60%;
    border-radius: 1rem;
    z-index: 10;
    font-size:1rem ;
    border: 0.2rem solid rgb(79, 70, 70);
}
#showcontent-MS:hover,#showcontent-PD:hover,#showcontent-FD:hover,#showcontent-CS:hover,#showcontent-CW:hover  {
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.918) 0 0.25rem 0.25rem inset;
}
#showcontent-MS:active,#showcontent-PD:active,#showcontent-FD:active,#showcontent-CW:active,#showcontent-CS:active {
    border: 0.2rem solid rgb(178, 247, 82);
}
#refresh{
    background-color: transparent;
    position:fixed;
    top:1.7%;
    right:8%;
    z-index: 10;
    font-size:3rem ;
    border: 0.2rem solid transparent;
    border-radius: 1rem;

}
#refresh:hover  {
    color:rgb(255, 0, 30);
    border: 0.2rem solid rgb(255, 0, 0);
    box-shadow: rgba(255, 255, 255, 0.918) 0 0.1rem 0.1rem inset;
}
#refresh:active {
    border: 0.2rem solid rgb(178, 247, 82);
}