/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Black;
    src: url('../fonts/montserrat/Montserrat-Black.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  }
  
  
/*------------------------------------------------------------------
[ input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 20px;
  }
  
  .rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
  }
  
  .label-input100 {
    font-family: Montserrat-SemiBold;
    font-size: 10px;
    color: #393939;
    line-height: 1.5;
    text-transform: uppercase;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    padding-right: 15px;
  }
  
  
  /*---------------------------------------------*/
  input.input100 {
    height: 40px;
  }
  
  
  textarea.input100 {
    min-height: 120px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }