/* Test */
.atest {
    align-content: center;
    font-size: 35pt;
    color: red;
}

/* Vertical Tabs #1 */
.tab {
    position: fixed;
    align-content: space-around;
    padding-left: 0%;
    float: left;
    background-color: #333333;
    width: 6%; /*should align w/ margin-left for tabcontent! */
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
.tab button {
    background-color: inherit;
    color: white;
    display: block;
    padding: 12px 8.8%; /*vertical horizontal padding*/
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.tab button:hover {
    background-color: white;
    color: #333333;
}
.tab button.active {
    /* background-color: #ccc; */
    background-color: gold;
}
.tabcontent {
    position: fixed;
    display: none;
    float: left;
    padding: 0px 0.5%;
    width: 93%;
    height: 100vh; /*essential for mobile browsing*/
    margin-left: 6%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}

/* Vertical Tabs #2 *//* Instrument content page */
.tab2 {
    position: fixed;
    align-content: space-around;
    padding-left: 0%;
    float: left;
    background-color: #f1f1f1;
    width: 12%;
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
.tab2 button {
    display: block;
    padding: 12px 8.8%; /*vertical horizontal padding*/
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.tab2 button:hover {
    background-color: rgb(98, 245, 233);
}
.tab2 button.active {
    /* background-color: #ccc; */
    background-color: gold;
}

/* machines */
div.dccontent, div.bdrcontent, div.awgcontent, div.vsacontent, div.sgcontent, div.dsocontent {
    position: fixed;
    display: block;
    float: left;
    /* margin-top: 32px; */
    margin-left: 12%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 77%;
    height: 100vh;
    /* margin-bottom: 64px; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}

/* Only allow ALL-page to show-up when loading machine.html */
.tabcontent#all {
    display: block;
}

/* Modified Tabs */
.reset, .generate {
    background-color: #4CAF50;
    color: white;
}
.close, .abort {
    background-color: tomato;
    color: white;
}
.error {
    background-color: darkslategray;
}
.selected {
    background-color: gold;
}
.newupdate {
    background-color: rgb(255, 145, 0);
}

/* for AI-Bridge */
.suggestion {
    background-color: rgb(203, 124, 240);
    /* background-color: rgb(240, 20, 166); */
}

/* special adjustment to jobcontent due to the absence of instrlog */
div.allcontent {
    position: fixed;
    display: block;
    width: 94%;
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
img {
    object-fit: contain;
    display: block;
    width: 70%;
}

/* Chart */
#bdr-chart-01 {
    padding-top: 2rem;
    height: 100%;
}