/* Test */
.atest {
    align-content: center;
    font-size: 35pt;
    color: red;
}

/* Vertical Tabs #1 */
.tab {
    position: fixed;
    align-content: space-around;
    padding-left: 0%;
    float: left;
    background-color: #070707;
    width: 6%; /*should align w/ margin-left for tabcontent! */
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
.tab button {
    background-color: inherit;
    color: white;
    display: block;
    padding: 12px 8.8%; /*vertical horizontal padding*/
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
/* for supportive instrument (widest variety) */
.tab button.support {
    background-color: #6d6c6c;
}
/* for continuous measurement (Mid-level variety) */
.tab button.continuous-rf {
    background-color: #3d3d3d;
}
/* for pulsed measurement (Rare & Developing variety) */
.tab button.pulse-rf, .tab button.diagnostic {
    background-color: #111111;
}
.tab button:hover {
    background-color:rgb(251, 255, 0);
    color: #333333;
}
.tab button.active {
    color: rgb(251, 255, 0);
    font-weight: 950;
    /* background-color: rgb(241, 230, 165); */
}
.tab button.active:hover {
    background-color:inherit;
}
.tabcontent {
    position: fixed;
    display: none;
    float: left;
    padding: 0px 0.5%;
    width: 93%; /*100 - tab/margin - 2*padding */
    height: 100vh; /*essential for mobile browsing*/
    margin-left: 6%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}

/* Vertical Tabs #2 *//* Instrument content page */
.tab2 {
    position: fixed;
    align-content: space-around;
    padding-left: 0%;
    float: left;
    background-color: #f1f1f1;
    width: 13%; /*should align w/ margin-left for tab2/mach-content! */
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
.tab2 button {
    display: block;
    padding: 12px 8.8%; /*vertical horizontal padding*/
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.tab2 button:hover {
    font-weight: 777;
    background-color: rgb(98, 245, 233);
}

/* machines */
div.dccontent, div.bdrcontent, div.awgcontent, div.daccontent, div.vsacontent, div.adccontent, div.nacontent, div.sgcontent, div.dsocontent, div.sacontent {
    position: fixed;
    display: block;
    float: left;
    /* margin-top: 32px; */
    margin-left: 13%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 76%; /*100 - tab2/margin - 2*padding -tab */
    height: 100vh;
    /* margin-bottom: 64px; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}

/* Only allow ALL-page to show-up when loading machine.html */
.tabcontent#all {
    display: block;
}

/* Modified Tabs */
.connect, .reset, .generate {
    background-color: #4CAF50;
    color: white;
}
.wait {
    background-color: #ec6ce6;
    color: white;
}
.close, .abort {
    background-color: tomato;
    color: white;
}
.error {
    background-color: darkslategray;
}
.selected {
    color: blue;
    font-weight: 777;
    background-color: gold;
}
.newupdate {
    background-color: rgb(255, 145, 0);
}
.setvalue {
    color: rgb(29, 7, 153);
    font-weight: 777;
    background-color: rgb(13, 230, 78);
}
.getvalue {
    color: rgb(219, 12, 12);
    font-weight: 777;
    background-color: rgb(241, 239, 110);
}
.unit {
    color: rgb(49, 48, 48);
    font-weight: 777;
}

/* label */
label.parameter {
    text-align: right;
}

/* for AI-Bridge */
.suggestion {
    background-color: rgb(203, 124, 240);
    /* background-color: rgb(240, 20, 166); */
}

/* special adjustment to jobcontent due to the absence of instrlog */
div.allcontent {
    position: fixed;
    display: block;
    width: 94%;
    height: 93vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*momentum scroll*/
}
img {
    object-fit: contain;
    display: block;
    width: 70%;
}

/* Chart */
#bdr-chart-01 {
    padding-top: 2rem;
    height: 100%;
}