/* All sort of progress bar */

.data-status { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 250px;
	margin: 0px 0px 0px 5px;
	position: relative;
	line-height: 2em;
	padding: 0px 5px;
}

.data-status li { 
	/* margin-bottom:50px;  */
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

.data-status li h3, .data-status li h4, .data-status li h5 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.data-progress {
	width:0%;
	max-width: 100%;
	-moz-animation:html-css 2s ease-out;
    -webkit-animation:html-css 2s ease-out;
    --zero: rgb(136, 182, 136);
    --full: green;
	background-color: var(--zero);
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--zero)), to(var(--full)));
	background-image: -webkit-linear-gradient(left, var(--zero), var(--full));
	background-image: -moz-linear-gradient(left, rgb(136, 182, 136), green);
	background-image: -ms-linear-gradient(left, rgb(136, 182, 136), green);
	background-image: -o-linear-gradient(left, rgb(136, 182, 136), green);
	background-image: linear-gradient(left, rgb(136, 182, 136), green);
}
/* for animation */
/* @-moz-keyframes data-progress {0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes data-progress { 0%  { width:0px;} 100%{ width:100%;}  } */



