{% extends 'base.html' %} 
{% block title %}Dynamic{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("p").click(function(){
                $(this).hide();
            });
        });
    </script>
{% endblock %}
 
 {% block content %}

    <body class="fig">
        <p>If you click on me, I will disappear.</p>
        <p>Click me away!</p>
        <p>Click me too!</p>
        
        <form method='POST' class='dataform'>
            <input class="button buttonmeasure" type='submit' name='analysis' value='ANALYSIS'>
        </form>
        
<!--
        {% for item in datanum %}
            <h3>{{ item }}</h3>
        {% endfor %}
-->
        <div style="width:75%;">
            <h5 id="counter"></h5>
            <canvas id="canvas01" style="display: block; width: 1000px; height: 500px;" width="1000" height="500" class="chartjs-render-monitor"></canvas>
            {% for item in data %}
                <script>
                    document.getElementById("counter").innerHTML = "COUNT: " + {{item[0] + 1}}
                    myPlot("canvas01", {{item[1]['x']}}, {{item[1]['y']}})
                </script>   
            {% endfor %}    
        </div>
        
    </body>
    
{% endblock %}