{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
<body class="login">
  <div class="container" id="login">
    <form method="post">

      <div class="row"> <!-- User Name -->
      <div class="col-10"><label for="username">Username</label></div>
      <div class="col-35"><input name="username" id="username" required></div>
      </div>

      <div class="row"> <!-- PassWord -->
      <div class="col-10"><label for="password">Password</label></div>
      <div class="col-35"><input type="password" name="password" id="password" required></div>
      </div>
      
      <div class="row"> <!-- SUBMIT BUTTON -->
      <div class="col-10"></div>
      <div class="col-15"><input type="submit" value="Log In"></div>
      </div>

    </form>
  </div>
</body>
{% endblock %}
