{% extends 'base.html' %}
{% block title %}Script{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}

<body class="bridg">
    <br/>
    <div class="ui-widget" style="padding: 1rem 1.5rem;">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>
    
</body>

{% endblock %}