<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fa/css/v4-shims.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ui/jquery-ui.min.css') }}">

<head>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          TeX: { equationNumbers: { autoNumber: "AMS" } },
          tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
          }
        });
    </script>

    <style>
        div.navbar { background-color: {{ g.base_color }}; }
    </style>
        
    <title>{% block title %}{% endblock %} - PyQuM</title>
    
    <!-- 
        Stop using the script since its old version was too slow to load, while new version syntax has been overhauled!
        <script type="text/javascript" src="{{ url_for('static', filename='js/gauge.min.js') }}"></script> 
    -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquerysession.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_HTMLorMML-full"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<div class="navbar">

    <a href="/">
        <button class="home" id="left"><i class='fa fa-university'></i></button>
    </a>
    
    <!-- user specific -->
    {% if g.user %}
        {% if g.user['instrument'] %}
            <button class="machine" id="left"><i class="far fa-hdd"></i></button>
        {% endif %}
        <!-- <button class="mission" id="left"><i class="far fa-arrow-alt-circle-up"></i></button> -->
        <button class="bridge" id="left"><i class="fas fa-umbrella"></i></button>
        <!-- To benchmark -->
        <button class="benchmark" id="left"><i class="fa fa-microchip"></i></button>
        {% if g.user['instrument'] %}
            <!-- <button class="ups" id="left"><a href="https://qum.phys.sinica.edu.tw:8888/0">UPS</a></button> -->
        {% endif %}
    {% endif %}  

    <button class="guide text-shadow" id="left">Guide</button>
    <button class="display" id="left"><i class="fas fa-pencil-alt"></i></button>

    <!-- reset CSS (Cascading Style Sheet) -->
    <button class="reset" id="right"><i class='fa fa-refresh'></i></button>

    <!-- User Credentials -->
    {% if g.user %}
        <button class="user" id="right">{{ g.user['username'] }}</button>
        <button class="logout" id="right"><i class="fas fa-sign-out-alt"></i></button>
    {% else %}
        <button class="reg" id="right"><i class="fas fa-user-friends"></i></button>
        <button class="login" id="right"><i class="fas fa-sign-in-alt"></i></button>
    {% endif %} 
       
</div>

<div class="navcontent" style="margin-top:56px;">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</div>
